[tool.poetry]
name = "pytest-datadir-mgr"
version = "1.0.0"
description = "Manager for test data providing downloads, caching of generated files, and a context for temp directories."
authors = ["Joel Berendzen <joelb@ncgr.org>"]
license = "BSD-3-Clause"
readme = "README.rst"
homepage = "https://github.com/legumeinfo/pytest-datadir-mgr"
keywords = [
    "testing",
    "py.test",
    "resources",
    "files",
    "directory",
    "directories",
    "download",
    "data manager",
    "test data",
    "software engineering"
    ]
classifiers = [
    "Development Status :: 5 - Production/Stable",
    "Environment :: Console",
    "Intended Audience :: Developers",
    "License :: OSI Approved :: BSD License",
    "Natural Language :: English",
    "Operating System :: OS Independent",
    "Programming Language :: Python :: 3.6",
    "Programming Language :: Python :: 3.7",
    "Programming Language :: Python :: 3.8",
    "Framework :: Pytest"
    ]

[tool.poetry.dependencies]
python = "^3.6"
pytest = "^5.4.1"
progressbar2 = "^3.50.1"
requests_download = "^0.1.2"

[tool.poetry.dev-dependencies]
pytest-cov = "^2.8.1"
black = "^19.10b0"
isort = "^4.3.21"
sphinx = "^3.0.1"
recommonmark = "^0.6.0"

[tool.poetry.plugins]
pytest11 = { datadir_mgr = "pytest_datadir_mgr" }

[tool.black]
line-length = 120
target-version = ['py36', 'py37', 'py38']
include = '\.pyi?$'
exclude = '''
/(
    \.eggs
  | \.git
  | \.hg
  | \.mypy_cache
  | \.tox
  | \.venv
  | _build
  | buck-out
  | build
  | dist
  # The following are specific to Black, you probably don't want those.
  | blib2to3
  | tests/data
  | profiling
)/
'''

[tool.isort]
force_single_line = true
multi_line_output = 3
include_trailing_comma = true
force_grid_wrap = 0
use_parentheses = true
line_length = 120
import_heading_stdlib = "standard library imports"
import_heading_thirdparty = "third-party imports"
import_heading_firstparty = "first-party imports"
import_heading_localfolder = "module imports"
known_standard_library = "pkg_resources"

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
